@import "tailwindcss";
@theme {
	--color-primary: #1d5a85;
	--color-primary-highlight: color-mix(in srgb, var(--color-primary), #fff 15%);
	--color-accent: #ffd403;
	--color-accent-highlight: color-mix(in srgb, var(--color-accent), #fff 15%);

	--color-error: #C20505;
	--color-error-highlight: color-mix(in srgb, var(--color-error), #fff 15%);
	--color-error-support: color-mix(in srgb, var(--color-error), #fff 80%);
	--color-error-support-highlight: color-mix(in srgb, var(--color-error), #fff 70%);

	--color-warning: #E98000;
	--color-warning-highlight: color-mix(in srgb, var(--color-warning), #fff 20%);
	--color-warning-support: color-mix(in srgb, var(--color-warning), #fff 80%);
	--color-warning-support-highlight: color-mix(in srgb, var(--color-warning), #fff 70%);

	--color-info: #20ADD9;
	--color-info-highlight: color-mix(in srgb, var(--color-info), #fff 20%);
	--color-info-support: color-mix(in srgb, var(--color-info), #fff 80%);
	--color-info-support-highlight: color-mix(in srgb, var(--color-info), #fff 70%);

	--text-2xs: .625rem;
	--text-3xs: .5rem;

	--em-spacing: 0.25em;

	--drop-shadow-px: 0 1px 0 #fff;

	--cursor-left: url(/assets/cursor-left.svg), pointer;
	--cursor-right: url(/assets/cursor-right.svg), pointer;
	--cursor-pointer: url(/assets/cursor-pointer.svg), pointer;

	--font-sans: "Readex Pro", sans-serif;
	--font-handwriting: "Gochi Hand", cursive;
}

.onDragOver {
	@apply border-primary border-solid border-2 bg-primary/5;
}

@custom-variant is-vertical {
	@media (max-aspect-ratio: 2/2.8) {
		@slot;
	}
}

@custom-variant is-horizontal {
	@media (min-aspect-ratio: 2/2.8) {
		@slot;
	}
}
